@import "../main.scss";
.banner {
    font-family: "Nunito", sans-serif;
    background-image: url(../image/Banner_photo.jpg);
    background-size: auto 650px;
    background-repeat: no-repeat;
    background-color: #EDECEA;
    background-position: center;
    height: 650px;
    max-width: $max-page-width;
    margin-top: 60px;
}

.mainWrapper {
    max-width: $max-content-width;
    margin: 0 auto;
    height: 100%;
}

.contentWrapper {
    max-width: 680px;
    width: 55%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

.text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
}