@import "../main.scss";
.btn {
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    width: 148px;
    height: 50px;
    border-radius: 80px;
    background-color: $primary-color;
    border: none;
    position: relative;
    transition: .2s;
    z-index: 0;
    &:hover {
        background-color: $hover-color;
    }
    &::before {
        content: " ";
        display: block;
        width: 120px;
        height: 50px;
        border-radius: 50px;
        background-color: $btn-shadow;
        position: absolute;
        top: 0;
        left: 14px;
        opacity: 0;
        transition: .2s;
    }
    &:focus {
        outline-style: none;
        &::before {
            opacity: 1;
        }
    }
    &:active {
        &::before {
            opacity: 1;
            width: 134px;
            border-radius: 80px 80px 0 0;
            left: 7px;
        }
    }
    &:disabled {
        background-color: $disabled-color;
        color: #FFFFFF;
    }
}