@import "../main.scss";
.content {
    font-family: "Nunito", sans-serif;
    max-width: $max-page-width;
    background-color: $background-color;
}

.mainWrapper {
    max-width: $max-content-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.contentWrapper {
    max-width: 680px;
    width: 55%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.heading {
    font-size: 40px;
    // line-height: 40px;
    font-weight: 400;
    margin-bottom: 16px;
}

.subheading {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}

.text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
}