@import "../main.scss";
.footer {
    max-width: $max-page-width;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 16px;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
}