@import "../main.scss";
.header {
    max-width: $max-page-width;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.wrapper {
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav {
    display: flex;
    width: 486px;
    justify-content: space-between;
}

.link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    transition: .2s;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        padding: 7px 16px;
        border-radius: 4px;
        background-color: rgba(0, 189, 211, 0.1);
        position: absolute;
        left: -16px;
        top: -7px;
        opacity: 0;
        transition: .5s;
    }
    &:hover {
        color: $secondary-color;
        &::after {
            opacity: 1;
        }
    }
    &:visited {
        color: $secondary-color;
    }
}