@import "../main.scss";
.section {
    background-color: $background-color;
    max-width: $max-page-width;
}

.innerWrapper {
    max-width: $max-content-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    width: 370px;
    height: 313px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}