@import url('https://fonts.googleapis.com/css2?family=Asap&family=Nunito&display=swap');
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$hover-color: #FFE302;
$disabled-color: #B4B4B4;
$btn-shadow: rgba(126,
126,
126,
0.5);
$max-page-width: 2560px;
$max-content-width: 1170px;